@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.header {
  position: relative;
  height: 1080px;
}

.header__img {
  height: 1080px;
  width: 100%;
  position: absolute;
}
.header__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.header__logo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__logo img {
  padding: 165px 0;
}

.header__title {
  position: relative;
  font-size: 34px;
  font-family: "Lato";
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 20px 0;
}

.header__subtitle {
  position: relative;
  font-size: 26px;
  font-family: "Lato";
  font-weight: 400;
  color: white;
  text-align: center;
  padding: 0px 0px 65px 0px;
}
.header__subtitle::after {
  content: "";
  width: 105px;
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: white;
  height: 1px;
  margin: 0px 0px 0px -52.5px;
}

.header__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__btn {
  position: relative;
  margin-top: 225px;
  font-weight: 400;
  font-size: 16px;
  font-family: "Lato";
  color: white;
  text-align: center;
  border: 1px solid white;
  padding: 20px 40px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header__btn:hover {
  color: black;
  background-color: white;
}

.nav {
  background-color: white;
}

.nav__container {
  max-width: 430px;
  margin: 0 auto;
}

.nav__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -10px;
}

.nav__item {
  padding: 20px 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.item {
  text-align: center;
  font-size: 15px;
  font-family: "Lato";
  color: #000;
  font-weight: 400;
}

.item:hover {
  background-color: #f3f3f3;
}

.about {
  padding: 120px 0px 90px;
}

.about__header {
  max-width: 700px;
  margin: 0 auto;
}

.about__title {
  padding: 0px 0px 50px 0px;
  position: relative;
}
.about__title::after {
  content: "";
  width: 80px;
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: black;
  height: 1px;
  margin: 0px 0px 0px -40px;
}

.title {
  font-size: 34px;
  font-family: "Lato";
  color: black;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 10px;
}

.about__text {
  font-size: 14px;
  font-family: "Lato";
  color: #868585;
  line-height: 1.857;
  text-align: center;
  padding: 40px 0px 70px;
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -7px;
}

.about__coulumn {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  padding: 0 7px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.about__coulumn:hover {
  background-color: #f3f3f3;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 400px;
          flex: 1 1 400px;
}

.about-item {
  padding: 20px;
}

.about-item__icon {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: 2px solid #f0f0f0;
  height: 92px;
  width: 92px;
}

.about-item__title {
  font-size: 22px;
  font-family: "Lato";
  font-weight: 400;
  color: black;
  text-align: center;
  padding: 40px 0px;
}

.about-item__subtitle {
  font-size: 14px;
  font-family: "Lato";
  color: #868585;
  line-height: 1.857;
  text-align: center;
  font-weight: 400;
}

.partners {
  position: relative;
}

.partners__bckgrnd {
  position: absolute;
  height: 384px;
  width: 100%;
}
.partners__bckgrnd img {
  position: absolute;
  height: 100%;
  width: 100%;
}

.partners__container {
  max-width: 650px;
  margin: 0 auto;
  height: 384px;
}

.partners__title {
  position: relative;
  padding: 100px 0 90px;
  font-weight: 400;
  letter-spacing: 5px;
  font-size: 30px;
  font-family: "Lato";
  color: white;
  line-height: 1.2;
  text-align: center;
}

.partners__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners__columns {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  padding: 0 30px;
}

.partners__item {
  position: relative;
}

.contact {
  padding: 180px 0 80px;
}

.contact__title {
  padding: 0 0 50px;
  position: relative;
}
.contact__title::after {
  content: "";
  width: 80px;
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: black;
  height: 1px;
  margin: 0px 0px 0px -40px;
}

.contact__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 100px -55px;
}

.contact__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 0 55px;
}

.form__contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
      grid-template-areas: "header1 header2" "content1 content2" "block1 block1" "block2 block2" "footer footer" "footer1 footer1";
}

.form__item:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header1;
}

.form__item:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: header2;
}

.form__item:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: content1;
}

.form__item:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: content2;
}

.form__item:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: block1;
}

.form__item:nth-child(6) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: block2;
}

.form__item:nth-child(7) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: footer;
}

.form__item:nth-child(8) {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  grid-area: footer1;
}

.form__item {
  padding: 10px;
}
.form__item input {
  background-color: #f8f7f7;
  padding: 10px;
  font-family: "Lato";
  color: #000;
  font-weight: 400;
}
.form__item input[type=text] {
  width: 100%;
}
.form__item textarea {
  width: 100%;
  background-color: #f8f7f7;
  padding: 10px;
}

.form__name {
  font-size: 14px;
  font-family: "Lato";
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}

.form__email {
  font-size: 14px;
  font-family: "Lato";
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}

.form__input__btn {
  font-family: "Lato";
  font-size: 14px;
  color: #000;
  font-weight: 700;
}

.form__message {
  font-size: 14px;
  font-family: "Lato";
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}

.contact__text {
  font-weight: 400;
  font-size: 14px;
  font-family: "Lato";
  color: black;
  line-height: 1.857;
}

.contact__name {
  font-size: 14px;
  font-family: "Lato";
  font-weight: 700;
  color: black;
  line-height: 1.857;
  padding: 40px 0;
}

input:invalid:required {
  border: 1px solid #a93f3f;
}

.contact__email {
  font-size: 14px;
  font-family: "Lato";
  font-weight: 700;
  color: black;
  line-height: 1.857;
}

.footer {
  background-color: #3c3c3c;
  color: #a4a4a4;
  padding: 50px 0px;
}

.footer__container {
  max-width: 265px;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__logo img {
  width: 125px;
}

.footer__row {
  padding: 40px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__columns {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  text-align: center;
  color: #a4a4a4;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__columns:hover {
  color: #fff;
}

.footer__copyright {
  text-align: center;
}

@media (max-width: 1200px) {
  .header__img {
    height: 900px;
    width: 100%;
  }

  .header {
    height: 900px;
  }

  .header__logo img {
    padding: 105px 0px;
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
  }
}
@media (max-width: 992px) {
  .header {
    height: 700px;
  }

  .header__img {
    height: 100%;
    width: 100%;
  }

  .container {
    max-width: 700px;
    margin: 0 auto;
  }

  .header__btn {
    margin-top: 60px;
  }

  .nav__container {
    max-width: 370px;
    margin: 0 auto;
  }

  .about {
    padding: 60px 0px 45px;
  }

  .partners__title {
    padding: 50px 0 90px;
  }

  .partners__bckgrnd {
    height: 300px;
  }

  .partners__container {
    height: 300px;
  }

  .contact {
    padding: 100px 0 40px;
  }
}
@media (max-width: 768px) {
  .header {
    height: 550px;
  }

  .container {
    max-width: 450px;
  }

  .header__btn {
    margin-top: 50px;
  }

  .header__logo img {
    padding: 100px 0;
    width: 150px;
  }

  .header__title {
    font-size: 24px;
    margin: 0 0 10px 0;
    padding: 0 10px;
  }

  .header__subtitle {
    font-size: 16px;
    padding: 0px 0px 45px 0px;
  }

  .about {
    padding: 40px 0px 35px;
  }

  .about__header {
    max-width: 450px;
  }

  .about__title {
    padding: 0px 0px 45px 0px;
  }

  .title {
    font-size: 34px;
  }

  .about__text {
    font-size: 14px;
    padding: 40px 0px 40px;
  }

  .about__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .about__coulumn {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333%;
            flex: 0 0 33.333%;
  }

  .about-item {
    padding: 5px;
  }

  .about-item__title {
    padding: 50px 0px;
  }

  .partners__container {
    max-width: 450px;
  }

  .partners__row {
    margin: 0 -15px;
    padding: 15px;
  }

  .partners__columns {
    padding: 0 15px;
  }

  .contact {
    padding: 40px 0 40px;
  }

  .contact__row {
    display: block;
    margin: 50px 0px;
  }

  .contact__item {
    padding: 0 15px;
  }

  .contact__name {
    font-size: 14px;
    font-family: "Lato";
    font-weight: 700;
    color: black;
    line-height: 1.857;
    padding: 20px 0;
  }
}
@media (max-width: 576px) {
  .header {
    height: 500px;
  }

  .container {
    max-width: 300px;
  }

  .header__logo img {
    padding: 50px 0;
    width: 150px;
  }

  .header__title {
    line-height: 30px;
    margin: 0 0 10px 0;
    padding: 0 10px;
  }

  .header__btn {
    padding: 15px 30px;
  }

  .nav__container {
    max-width: 300px;
  }

  .nav__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px -10px;
  }

  .nav__item {
    padding: 20px 10px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .about__header {
    max-width: 300px;
  }

  .about__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .about__coulumn {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .about__coulumn:last-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .partners__title {
    padding: 35px 0;
  }

  .partners__container {
    max-width: 300px;
  }

  .partners__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }

  .partners__columns {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    padding: 10px 0;
  }

  .partners__item {
    position: relative;
  }

  .form__contact {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
        grid-template-areas: "header1 header1" "content1 content1" "header2 header2" "content2 content2" "block2 block2" "footer footer" "footer1 footer1";
  }

  .form__item:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header1;
  }

  .form__item:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: header2;
  }

  .form__item:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: content1;
  }

  .form__item:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: content2;
  }

  .form__item:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: block1;
  }

  .form__item:nth-child(6) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: block2;
  }

  .form__item:nth-child(7) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: footer;
  }

  .form__item:nth-child(8) {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    grid-area: footer1;
  }

  @media (max-width: 576px){

  .form__item:nth-child(1) {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
  }

  .form__item:nth-child(2) {
      -ms-grid-row: 3;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
  }

  .form__item:nth-child(3) {
      -ms-grid-row: 2;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
  }

  .form__item:nth-child(4) {
      -ms-grid-row: 4;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
  }

  .form__item:nth-child(6) {
      -ms-grid-row: 5;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
  }

  .form__item:nth-child(7) {
      -ms-grid-row: 6;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
  }

  .form__item:nth-child(8) {
      -ms-grid-row: 7;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
  }
  }

  .form__item:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }

  .form__item:nth-child(2) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }

  .form__item:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }

  .form__item:nth-child(4) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }

  .form__item:nth-child(6) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }

  .form__item:nth-child(7) {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }

  .form__item:nth-child(8) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
}